# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\STUDIA SEMESTR 2\CapWSB-FitnessTracker_PP_BS-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
